a {
	text-decoration: none;
}

ul {
	padding: 10px;
}

li {
	list-style-type: none;
}

body {
	background-color: #f0f0f0;
}

.item {
	background-color: #fff;
	padding: 8px 16px;
	margin: 10px 0;
	border-radius: 4px;
}

.title {
	color: #393b40;
	text-decoration: none;
	overflow: hidden;
}

.info {
	margin: 6px 0;
	font-size: 24px;
	font-weight: 400;
}