body {
    margin: 0;
}

.container {
    max-width: 840px;
    margin: 0 auto;
    padding-left: calc(100vw - 100%);
}

@media (max-width: 880px) {
    .container {
        padding-left: 0;
        margin: 0 calc(20px - 100vw + 100%) 0 20px;
    }
}

.transition_none * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}