<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}原神工具{% endblock %}</title>
    <link href="https://ys.mihoyo.com/main/favicon.ico" rel="icon">
    {% load static %}
    <link href="{% static 'responsiveDesignStyle.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body class="transition_none">
<div class="container">
    <h2><a href="https://ys.mihoyo.com/main/news/10">最新新闻（官网）</a></h2>
    <p>所有内容来自原神官网，可能滞后，点击上方超链接前往官网</p>
    <p>数据库最后更新: {{ update_time }}</p>
    {% block container %}{% endblock %}
</div>
</body>
<script>
    let getBody = document.querySelector('.transition_none');
    window.onload = function () {
        getBody.className = '';
    }
</script>
</html>