<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新</title>
</head>
<body>
<div>
    <h1>更新</h1>
    <h3><a href="{% url 'select_content_list' %}">返回查询</a></h3>
    <form action="{% url 'update_content_list' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="发起更新">
    </form>
    <div>
        <h2>git 提交规范</h2>
        <p>feat：提交新功能</p>
        <p>fix：修复了bug</p>
        <p>docs：只修改了文档</p>
        <p>style：调整代码格式，未修改代码逻辑（比如修改空格、格式化、缺少分号等）</p>
        <p>refactor：代码重构，既没修复bug也没有添加新功能</p>
        <p>perf：性能优化，提高性能的代码更改</p>
        <p>test：添加或修改代码测试</p>
        <p>chore：对构建流程或辅助工具和依赖库（如文档生成等）的更改</p>
    </div>
    {% if total %}
    <h2>{{ list|length }}/{{ total }}</h2>
    {% endif %}
    <ul>
        {% for content in list %}
        <li>{{ content }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>